article.news-box {
	
	background: #000;
	margin-top: 25px;
	
	
	.news-topo {
		color: #FFF;
		height: 35px;
		font-size: 2.0em;
		h3 {
			display: inline;
			text-align: right;
			margin-left: 10px;
			
		}
	}
	
	.news-body {
		padding: 6px;
		background: #FFF;
		p {
			text-align: justify;
		}
		em {
			font-weight: bold;
			text-align: right;
			display: inline;
		}
		
		
	}
	
	.artigo {
		width: 100%;
		
		h4.artigo-titulo {
			color: #1e1e1e;
			
			a {
				text-decoration:underline;
				color: #000;
			}
			
		}
	}
	
	
}