img.img_logo {
		display: inline;
		padding-top: 4px;
		margin: 0;
		vertical-align: top;
	}

h1.site-titulo {
		display: inline;
		font-family: 'mobstersregular';
		font-size: 7.0em;
		margin: 0;
		padding: 4px;
		color:#FFF;
		vertical-align: top;
		text-shadow: 0px 1px 5px #030303;
}


.bg-color {
	background: #FFF;
}

body {
	background: #161616;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #434343, #161616);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #434343, #161616); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#slideshow {
	border: 0;
	padding: 0;
	margin: 0;
}

