body {
	padding-top: 74px;
	overflow: hidden;
	width: 100%;
	list-style: none;


}



div.membro-box > ul {
	margin-bottom: 30px;
	margin-left: 25px;
	padding: 3px 0 5px 3px;
}

div.membro-box {

	background: #2d2d2d;
	-webkit-box-shadow: 3px 9px 33px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 3px 9px 33px 0px rgba(0,0,0,0.8);
	box-shadow: 3px 9px 33px 0px rgba(0,0,0,0.8);
	border-radius: 31px 31px 31px 31px;
	-moz-border-radius: 31px 31px 31px 31px;
	-webkit-border-radius: 31px 31px 31px 31px;
	border: 0px solid #000000;

}

ul.membro-box > li {
	height: 100%;
}

.titulo_h1 {
	text-align: center;
	text-shadow: 0px 3px 5px rgba(255, 255, 255, 1);
	color: #FFF;
	font-size: 2.5em;
}
