html {
	box-sizing: border-box;


}

*,
*:before,
*:after {
	box-sizing: inherit;
}


.red {
	color: #c0392b;
}

div.topo {
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #434343, #2f3542);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #434343, #2f3542); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	max-width: 100%;
	height: 100px;
	margin: 0 auto;

	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.bg-color {

}

.site-titulo-container{
	padding-left: 20px;
}



body {
	padding-top: 25px;
	list-style: none;
	background: #1c1c1c;


}



div.membro-box > ul {
	margin-bottom: 30px;
	margin-left: 25px;
	padding: 3px 0 5px 3px;
}

div.membro-box {

	background: #2d2d2d;
	-webkit-box-shadow: 3px 9px 33px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 3px 9px 33px 0px rgba(0,0,0,0.8);
	box-shadow: 3px 9px 33px 0px rgba(0,0,0,0.8);
	border-radius: 31px 31px 31px 31px;
	-moz-border-radius: 31px 31px 31px 31px;
	-webkit-border-radius: 31px 31px 31px 31px;
	border: 0px solid #000000;

}

ul.membro-box > li {
	height: 100%;
}

h1.titulo_h1 {

	text-align: center;
	text-shadow: 0px 3px 5px rgba(255, 255, 255, 1);
	color: #FFF;
}


div.artigo-box:after {

	border: 0px solid #000000;
}


div.box_container {
	margin-top: 17px;
}

div.tab_titulo {

	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	background: #2c2c2c;
}

.artigo-texto {
	color: #FFF;
	text-align: justify;
	text-justify: inter-word;
}


span.tab_texto {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: bolder;
	font-size: 2em;
	color: #FFF;
	padding-left: 10px;
}

div.artigo-box {

	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	background: #373C41;
	-webkit-box-shadow: 6px 2px 35px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 2px 35px 3px rgba(0,0,0,0.75);
	box-shadow: 6px 2px 35px 3px rgba(0,0,0,0.75);
	padding: 10px;
}

article.artigo-clan {
	width: 100%;
	height: auto;
	margin: 3px;


}

article.artigo-clan > span {
	word-wrap: break-word;
	display: inline-block;
	text-align: justify;
	line-height: 18px;
}

body.vegas-container>.vegas-overlay, body.vegas-container>.vegas-slide, body.vegas-container>.vegas-timer {
	width: 100%;

}

span.cf_res{
	color: chartreuse;
}
span.cf_res_lose{
	color:crimson;
}


ul.lista-membro {
	list-style: none;
}

ul.lista-membro h3 {
	font-size: 2.5em;
	text-shadow: 0px 3px 0px rgba(53, 53, 53, 1);
}

.sem-screen {
	display: block;
	width: 427px;
	height: 320px;
}
.sem-screen > p {
	text-align: center;
}


