div.site-footer {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: -2px -4px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -4px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -4px 14px 0px rgba(0, 0, 0, 0.75); }
  div.site-footer h3 {
    text-align: left; }

span.red-color {
  color: #C0392B; }

div.footer-body a {
  color: #FFF; }

div.footer-body p {
  vertical-align: middle;
  display: inline; }

div.footer-body i {
  vertical-align: top;
  display: inline; }

div.footer-body h3 {
  font-family: 'mobstersregular';
  font-size: 2.0em; }

.fa-facebook {
  font-size: 3em; }

div.site-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 180px;
  background: #373C41;
  color: #FFF; }
