nav.site-menu {
  width: 100%;
  height: 55px;
  padding: 0;
  margin: 0;
  background: #000; }

.site-menu ul {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  font-family: 'mobstersregular';
  margin-top: 3px; }

.site-menu li {
  display: inline;
  color: #FFF;
  margin-right: 22px;
  color: #FFF;
  font-size: 2.7em; }
  .site-menu li a {
    color: #FFF; }
  .site-menu li a:hover {
    text-decoration: underline;
    color: #C0392B; }

.site-menu li :last-child {
  margin: 0; }

#slideshow {
  height: 200px;
  padding: 0;
  margin: 0; }

div.submenu h1 {
  margin-top: 0;
  padding-top: 10px;
  margin-left: 25px;
  font-family: 'mobstersregular';
  font-size: 3.0em;
  color: #000; }

div.submenu span {
  padding-left: 25px;
  font-size: 1.0em;
  text-align: center;
  margin: 10px; }

h3.membro-nome {
  margin-left: 10px;
  font-family: 'mobstersregular'; }

article.membro {
  max-width: 300px;
  background: #eaeaea; }
  article.membro span {
    margin-left: 10px;
    display: inline;
    text-align: justify;
    vertical-align: top;
    padding: 0;
    margin: 0;
    font-weight: bolder; }
  article.membro img {
    height: 100px;
    margin: 0a auto;
    display: inline;
    vertical-align: top;
    overflow: hidden; }

.box-membro {
  text-align: center; }
  .box-membro :hover h3 {
    color: #C0392B; }

.membro-ativo {
  color: #075403; }

.membro-inativo {
  color: #C0392B; }
