article.news-box {
  background: #000;
  margin-top: 25px; }
  article.news-box .news-topo {
    color: #FFF;
    height: 35px;
    font-size: 2.0em; }
    article.news-box .news-topo h3 {
      display: inline;
      text-align: right;
      margin-left: 10px; }
  article.news-box .news-body {
    padding: 6px;
    background: #FFF; }
    article.news-box .news-body p {
      text-align: justify; }
    article.news-box .news-body em {
      font-weight: bold;
      text-align: right;
      display: inline; }
  article.news-box .artigo {
    width: 100%; }
    article.news-box .artigo h4.artigo-titulo {
      color: #1e1e1e; }
      article.news-box .artigo h4.artigo-titulo a {
        text-decoration: underline;
        color: #000; }
